.callback__openFormBtn {
  background: url('../img/callback-icon.png') center no-repeat;
  background-size: 60px;
  padding-bottom: 8%;
  width: 60px;
  right: 4vw;
  cursor: pointer;
  min-height: 60px;
}