.header {
  margin-top: 20px;
}
.header__navbar {
  background-color: transparent;
  border: 0;
}

@import "logo/logo.scss";
@import "navigation/navigation.scss";
@import "callback/callback.scss";