.copyright
  p.cophyright__me Copyright &copy; 2016 &dash; Сайт независимого консультанта Oriflame
  p.officialSite Официальный сайт компании 
    a.officialSite__refer.anchor(href="https://oriflame.com/") www.oriflame.com
  p.authorSign(itemscope itemtype="https://schema.org/Person") Автор сайта 
    a.authorSign__refer.anchor(
    	href="https://shining-present.ru/", 
    	itemprop="author"
    ) Филипп Журавлёв