.contacts {
  @include span(7);
  padding-bottom: 4%;
  
  @include breakpoint($xs) {
     @include span(5);
  }
  @include breakpoint($xxs) {
     @include span(12);
     margin-top: 35px;
    text-align: center;
    padding-bottom: 10%;
    
  }
}
@import "__title/__title.scss";
@import "__item/__item.scss";
@import "__label/__label.scss";