.navContent__logo.logo.navbar-header
  a#logo.navbar-brand(href="{% url 'index' %}")
    h1.sr-only Oriflame|Cosmeticsyou
    figure.logo__img     
  button#toggleButton.logo__navButton.navbar-toggle.collapsed(
  type='button',
  data-toggle='collapse', 
  data-target='#collapsable',
  aria-expanded='false'
  )
    span.sr-only Toggle navigation
    span.icon-bar
    span.icon-bar
    span.icon-bar
.clearfix.visible-md.visible-xs