.navContent__logo{
  width: span(4);
  max-width: 320px;
  @include breakpoint($sm) {
    width: span(12);
  }
  @include breakpoint($xs) {
    width: span(12);
    margin: 0 auto !important;
  }
}
#logo {
  width: 100%;
  height: auto;
}

.logo__img {
  background: url('../img/logo.png') no-repeat center;
  background-size: cover;
  padding-bottom: 18.56%;
  margin-top: 25px;
}

.logo__navButton {
  @include breakpoint($xs) {
    float: none;
    display: block;
    margin: 0 auto;
  }
}